#venv
venv/
.venv/
env/

#Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

#Enviroment
.env
!.env.example

#IDE
.vscode/
.idea/
*.swp
*.swo

#Docker 
docker/mongodb/

#assets
src/assets/files/
src/assets/db/
src/chroma_data/

#OS
.DS_Store
Thumbs.db

#Misc
*.log
*.pdf
