#Local-RAG Application Environment Variables

#App Settings
APP_NAME=Local-RAG
APP_VERSION=0.1.0

#File Upload Settings
FILE_ALLOWED_EXTENSIONS=["text/plain", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
FILE_MAX_SIZE_MB=5
FILE_CHUNK_SIZE=1048576

#MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=Local-RAG

#Generation LLM (Ollama)
# Available models: gemma2:2b, qwen2.5:1.5b, phi3:mini
OPENAI_API_KEY=ollama
OPENAI_API_BASE=http://localhost:11434/api
GENERATE_RESPONSE_MODEL=gemma2:2b
EMBEDDINGS_MODEL=BAAI/bge-small-en

#Vector DB (ChromaDB)
VECTOR_DB_PATH=chroma_data
VECTOR_DB_DISTANCE_METRIC=cosine

#Langs
DEFAULT_LANGUAGE=en
